@model YarBar.Models.Place

<h2 class="display-6" style="margin-bottom: 3rem">Вы уверены, что хотите удалить это заведение?</h2>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceType.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
    <div class="row" align="center">
        <a asp-action="Index" class="btn btn-outline-secondary" style="max-width:10rem; margin-top:3rem">Назад</a>
    </div>
</div>
